
body{
	margin-left: 10px;
	margin-right: 10px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size:16px;
}

h1{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font:bold;
	font-size: 40px;
}

h2{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font:bold;
	font-size: 30px;
}

h3{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font:bold;
	font-size: 20px;
}

h4{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font:unset;
	font-size: 20px;
}

.safetyHeading{
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 30px;
	font:bold;
	color: red;
}